%p.intro
  Click an address to copy the repository's gitjour clone command, i.e. <em>gitjour clone git://macbookpoo.local/pat-cows-not-kittens</em>. If you don't have gitjour installed run: <span class="command">sudo gem install gitjour</span>
%ul#apps
  - @jours.each do |app|
    %li
      %h4
        = app[0]
      %ul
        - for (app_repo, url) in app[1]
          %li
            %strong
              = app_repo
            %input{:type => 'text', :value => url, :id => app_repo, :size => 50, :readonly => 'readonly'}
