!!! Strict
%html{ "xml:lang" => "en-us", :lang => "en-us", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      'Sup Gitjour?
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %script{ :src => '/javascripts/jquery.js', :type => 'application/javascript' }
    %script{ :src => '/javascripts/application.js', :type => 'application/javascript' }
  %body
    .container
      .header.column
        %h1
          'Sup Gitjour?
      .content.column
        = catch_content :for_layout
      .clear
