%ul#apps
  - @response.each do |app|
    %li
      %strong
        =h app[0]
      %ul.repos
        - for (app_repo, url) in app[1]
          %li.repo
            =h app_repo
            %input{:type => 'text', :value => url, :class => 'url', :id => app_repo, :size => 50, :readonly => 'readonly'}
          