%ul.apps
  - @response.each do |app|
    %li
      %strong
        =h app[0]
      %ul.repos
        - for (app_repo, url) in app[1]
          %li.repo
            =h app_repo
            %a{:href => url, :title => "git clone #{url}", :class => 'url'}
              =h url
          